<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" href="assets/style.css" type="text/css">
  </head>
  <body class="main">
    <div class="row-one">
      <h1>dmd editor</h1>
      <button>Help</button>
      <button>Refresh</button>
      <label>Auto refresh
        <input type="checkbox">
      </label>
    </div>
    <div class="row-two">
      <div class="left-column">
        {{>editor id="template" autofocus=true}}
        <section id="markdown"></section>
      </div>
      <div class="centre-column"></div>
      <div class="right-column">
        <section id="html"></section>
      </div>
    </div>
    <script src="assets/bundle.js"></script>
  </body>
</html>
